In [1]:
import json
import pandas as pd
import datetime
from collections import Counter

## í‚¤ì›Œë“œ ë¶„ì„ 1: ë” ê¸€ë¡œë¦¬

In [2]:
df_glory = pd.read_json("twitter/the_glory.json")

In [3]:
df_glory.head()

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,retweeted_status,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str
0,2023-03-15 15:13:24+00:00,1636022791853195264,1636022791853195264,RT @season__22: ì•„ ë”ê¸€ë¡œë¦¬ ì•…ì—­ë“¤ í™”ë³´ ë–´ëŒ€ì„œ ë“¤ì–´ê°”ëŠ”ë° \nì „ì¬ì¤€ ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635979666975764481, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 12:22:03 +0000 2023...,False,951,0,False,False,0.0,ko,NaN,NaN
1,2023-03-15 15:13:23+00:00,1636022791517671425,1636022791517671424,RT @sikie_d: ì´ë„í˜„ í•œ ì‘í’ˆìœ¼ë¡œ ë‘ ê°€ì§€ ë§› ë³´ì—¬ì£¼ëŠ” ê²Œ ë„ˆë¬´ ì¢‹ìŒ......,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 01:16:40 +0000 2023...,False,113,0,False,False,NaN,ko,NaN,NaN
2,2023-03-15 15:13:21+00:00,1636022781673623554,1636022781673623552,RT @only1intheearth: ì „ë‘í™˜ ì†ì í­ë¡œì— ê´€ì‹¬ì„ ê°€ì ¸ì•¼í•˜ëŠ” ì´ìœ ëŠ” ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,{'created_at': 'Wed Mar 15 03:45:35 +0000 2023...,True,22142,0,False,False,NaN,ko,1.635698e+18,1.635698e+18
3,2023-03-15 15:13:19+00:00,1636022772542619648,1636022772542619648,RT @only1intheearth: ì „ë‘í™˜ ì†ì í­ë¡œì— ê´€ì‹¬ì„ ê°€ì ¸ì•¼í•˜ëŠ” ì´ìœ ëŠ” ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 03:45:35 +0000 2023...,True,22142,0,False,False,NaN,ko,1.635698e+18,1.635698e+18
4,2023-03-15 15:13:18+00:00,1636022767333281798,1636022767333281792,RT @loverdramas: ë” ê¸€ë¡œë¦¬ ë™ì€ì˜¤ì í™”ë³´ ì°¢ì—ˆë‹¤ https://t.c...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635965867761766400, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,{'created_at': 'Wed Mar 15 11:27:14 +0000 2023...,False,9086,0,False,False,0.0,ko,NaN,NaN

### 1. ì–¸ì œ íŠ¸ìœ—ë˜ì—ˆë‚˜?

#### ê°€ì¥ ìµœê·¼ íŠ¸ìœ—

In [4]:
df_glory.head(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,retweeted_status,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str
0,2023-03-15 15:13:24+00:00,1636022791853195264,1636022791853195264,RT @season__22: ì•„ ë”ê¸€ë¡œë¦¬ ì•…ì—­ë“¤ í™”ë³´ ë–´ëŒ€ì„œ ë“¤ì–´ê°”ëŠ”ë° \nì „ì¬ì¤€ ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635979666975764481, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 12:22:03 +0000 2023...,False,951,0,False,False,0.0,ko,NaN,NaN

#### ê°€ì¥ ë§ˆì§€ë§‰ íŠ¸ìœ—

In [5]:
df_glory.tail(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,retweeted_status,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str
1099,2023-03-15 14:35:49+00:00,1636013335689699328,1636013335689699328,RT @aboutloveknot: ì‹ ì˜ˆì€ì´ ê³µê°œí•œ ë” ê¸€ë¡œë¦¬ ì—í”¼ì†Œë“œ...ğŸ¥º\n\n...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 05:12:11 +0000 2023...,False,17571,0,False,False,NaN,ko,NaN,NaN

íŠ¸ìœ—ì˜ ì‹œê°„ì„ í†µí•´ ëŒ€ëµ 48ë¶„ ì •ë„ì— 1100ê°œì˜ íŠ¸ìœ—ì´ ìƒì„±ë˜ì—ˆìŒì„ ì•Œ ìˆ˜ ìˆë‹¤.

#### 1100ê°œ íŠ¸ìœ—ì˜ í‰ê·  ì‹œê°

In [6]:
df_glory['tw_unixtime'] = df_glory['created_at'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_glory['tw_unixtime'].mean())
dt.ctime()

'Wed Mar 15 14:54:28 2023'

ì£¼ì–´ì§„ ë°ì´í„°ì˜ íŠ¸ìœ—ì€ í‰ê· ì ìœ¼ë¡œ 14ì‹œ 54ë¶„ì¦ˆìŒ ì´ë£¨ì–´ì¡ŒìŒì„ ì•Œ ìˆ˜ ìˆë‹¤.

### 2. ì–¸ì œ ê³„ì •ì„ ë§Œë“¤ì—ˆë‚˜?

In [7]:
df_glory_user = pd.DataFrame(data=df_glory['user'].tolist())

In [8]:
df_glory_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,profile_text_color,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries
0,1315872177376256001,1315872177376256001,J,12300615S2,,1nì‚´ ê°œë¡¯. ë§íŒ”ëìœ¼ë©´ ë§‰ ë©˜ë‹¬ê³ ë‹¤ë‹˜. ê´œì°®ì€ì‚¬ëŒë§Œ ë§íŒ” ë°”ëŒ!,None,{'description': {'urls': []}},False,56,...,333333,True,True,True,False,False,False,False,none,[]
1,1460595670122135552,1460595670122135552,ì¨!,_zzeng,,ì¼ìƒ+ì¢‹ì•„í•˜ëŠ” ê±° ìˆ˜ì§‘ì¤‘ / 20â¬†ï¸,None,{'description': {'urls': []}},False,1,...,333333,True,False,True,False,False,False,False,none,[]
2,920270731199393794,920270731199393794,ğŸ‡,O425O425,êµ¬ë…ê³„,"ì„ ìƒë‹˜ë“¤ ì ˆ ë‚´ì¹˜ì§€ ë§ì•„ì£¼ì„¸ìš”,,,ê°ì‚¬í•©ë‹ˆë‹¤,,,",None,{'description': {'urls': []}},False,3,...,000000,False,True,False,False,False,False,False,none,[]
3,1426066310845272067,1426066310845272067,tesa,qnewsun0,,ì›…ëƒ¥ëƒ¥,None,{'description': {'urls': []}},False,0,...,333333,True,True,True,False,False,False,False,none,[]
4,1165930904335699968,1165930904335699968,í†¢ â‚á¢â‘…á¢â‚,T0KK1_OuO,í—¤ë” (@ì–¸ì•½ìğŸ¥°),FF14 ì´ˆì½”ë³´ â€ ë¡œì•„ ë£¨í˜ì˜¨ â€ ì‚¬ì´í¼ì¦ˆ â€ íŒì†Œ â€ ë¬´í˜‘ â€ ì„±ì¸,None,{'description': {'urls': []}},False,628,...,000000,False,True,False,False,False,False,False,none,[]

In [9]:
df_glory_user[["screen_name", "created_at"]].head()

  screen_name                      created_at
0  12300615S2  Tue Oct 13 04:29:26 +0000 2020
1      _zzeng  Tue Nov 16 13:09:06 +0000 2021
2    O425O425  Tue Oct 17 12:50:14 +0000 2017
3    qnewsun0  Fri Aug 13 06:21:29 +0000 2021
4   T0KK1_OuO  Mon Aug 26 10:16:13 +0000 2019

In [10]:
df_glory_user['user_created_datetime'] = \
    df_glory_user['created_at'].apply(
        lambda x: datetime.datetime.strptime(x, '%a %b %d %H:%M:%S +%f %Y'))
df_glory_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries,user_created_datetime
0,1315872177376256001,1315872177376256001,J,12300615S2,,1nì‚´ ê°œë¡¯. ë§íŒ”ëìœ¼ë©´ ë§‰ ë©˜ë‹¬ê³ ë‹¤ë‹˜. ê´œì°®ì€ì‚¬ëŒë§Œ ë§íŒ” ë°”ëŒ!,None,{'description': {'urls': []}},False,56,...,True,True,True,False,False,False,False,none,[],2020-10-13 04:29:26
1,1460595670122135552,1460595670122135552,ì¨!,_zzeng,,ì¼ìƒ+ì¢‹ì•„í•˜ëŠ” ê±° ìˆ˜ì§‘ì¤‘ / 20â¬†ï¸,None,{'description': {'urls': []}},False,1,...,True,False,True,False,False,False,False,none,[],2021-11-16 13:09:06
2,920270731199393794,920270731199393794,ğŸ‡,O425O425,êµ¬ë…ê³„,"ì„ ìƒë‹˜ë“¤ ì ˆ ë‚´ì¹˜ì§€ ë§ì•„ì£¼ì„¸ìš”,,,ê°ì‚¬í•©ë‹ˆë‹¤,,,",None,{'description': {'urls': []}},False,3,...,False,True,False,False,False,False,False,none,[],2017-10-17 12:50:14
3,1426066310845272067,1426066310845272067,tesa,qnewsun0,,ì›…ëƒ¥ëƒ¥,None,{'description': {'urls': []}},False,0,...,True,True,True,False,False,False,False,none,[],2021-08-13 06:21:29
4,1165930904335699968,1165930904335699968,í†¢ â‚á¢â‘…á¢â‚,T0KK1_OuO,í—¤ë” (@ì–¸ì•½ìğŸ¥°),FF14 ì´ˆì½”ë³´ â€ ë¡œì•„ ë£¨í˜ì˜¨ â€ ì‚¬ì´í¼ì¦ˆ â€ íŒì†Œ â€ ë¬´í˜‘ â€ ì„±ì¸,None,{'description': {'urls': []}},False,628,...,False,True,False,False,False,False,False,none,[],2019-08-26 10:16:13

#### ì£¼ì–´ì§„ ë°ì´í„° ì¤‘ ê°€ì¥ ë¹¨ë¦¬/ìµœê·¼ì— ë§Œë“¤ì–´ì§„ ê³„ì •

In [11]:
df_glory_user['user_created_unixtime'] = \
    df_glory_user['user_created_datetime'].apply(lambda x: x.timestamp())

In [12]:
min_idx = df_glory_user[['user_created_unixtime']].idxmin()
df_glory_user.iloc[min_idx][["screen_name", "created_at"]]

    screen_name                      created_at
490     simji94  Tue Jun 16 02:40:21 +0000 2009

In [13]:
max_idx = df_glory_user[['user_created_unixtime']].idxmax()
df_glory_user.iloc[max_idx][["screen_name", "created_at"]]

       screen_name                      created_at
344  flyingmarieee  Fri Mar 10 16:29:44 +0000 2023

#### ê³„ì •ì„ ë§Œë“  ì‹œê°ì˜ í‰ê·  ì‹œê°

In [14]:
df_glory_user['user_created_unixtime'] = \
    df_glory_user['user_created_datetime'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_glory_user['user_created_unixtime'].mean())
dt.ctime()

'Sat May  4 22:37:28 2019'

ê³„ì •ì„ ë§Œë“  ì‹œê°ì˜ í‰ê· ì„ ê³„ì‚°í•˜ë©´, 2019ë…„ 5ì›” 4ì¼ ì˜¤í›„ 10ì‹œ ì •ë„ì´ë‹¤.

### 3. ëª‡ê°œë‚˜ íŠ¸ìœ—í–ˆëŠ”ê°€?

In [15]:
df_glory_user[['screen_name', 'statuses_count']].head()

  screen_name  statuses_count
0  12300615S2           26877
1      _zzeng            4207
2    O425O425           26736
3    qnewsun0            1013
4   T0KK1_OuO          100923

#### íŠ¸ìœ—ì— ëŒ€í•œ í†µê³„ëŸ‰

In [16]:
df_glory_user[['screen_name', 'statuses_count']].describe()

       statuses_count
count     1100.000000
mean     38024.702727
std      64809.792282
min          4.000000
25%       4134.250000
50%      14670.500000
75%      41537.750000
max     688158.000000

ìµœì†Œì™€ ìµœëŒ€ì˜ ì°¨ì´, ë¶„ì‚°ì´ êµ‰ì¥íˆ í° ê²ƒìœ¼ë¡œ ë³´ì•„, ì†Œìˆ˜ì˜ í•˜ë“œ ìœ ì €ê°€ ì¡´ì¬í•¨ì„ ì•Œ ìˆ˜ ìˆë‹¤.

### 4. ìˆ˜ì§‘ëœ tweet ì¤‘ ê°€ì¥ followerê°€ ë§ì€ ì‚¬ìš©ìëŠ”?

In [17]:
max_idx = df_glory_user['followers_count'].idxmax()
df_glory_user.iloc[max_idx][["screen_name", "followers_count"]]

screen_name        tpstm301
followers_count       20573
Name: 734, dtype: object

tpstm301 ìœ ì €ê°€ 20573ê°œì˜ followerë¥¼ ê°–ê³  ìˆë‹¤.

In [18]:
df_glory_user[["screen_name", "followers_count"]].describe()

       followers_count
count      1100.000000
mean        181.229091
std         860.176477
min           0.000000
25%           5.000000
50%          35.000000
75%         138.000000
max       20573.000000

íŒ”ë¡œì›Œ ìˆ˜ì˜ í†µê³„ëŸ‰ì„ ë¶„ì„í•˜ë©´, ìµœëŒ€ ê°’ì´ êµ‰ì¥íˆ ë†’ì€ ê²ƒì— ë¹„í•´ í‰ê· ê°’ê³¼ ì‚¬ë¶„ìœ„ ê°’ì€ ì‘ë‹¤.<br>
ì¦‰, ì¼ë¶€ ì†Œìˆ˜ì˜ ìœ ì €ë§Œì´ ìˆ˜ë§ì€ íŒ”ë¡œì›Œë¥¼ ê°–ê³  ìˆìŒì„ ì•Œ ìˆ˜ ìˆë‹¤.

### 5. ê°€ì¥ ë§ì´ ë‚˜ì˜¤ëŠ” hashtagëŠ”?

In [19]:
df_glory_hashtags = pd.DataFrame(data=df_glory['entities'].tolist())
df_glory_hashtags.head()

,hashtags,symbols,user_mentions,urls,media
0,[],[],"[{'screen_name': 'season__22', 'name': 'ì‹œì¦Œ', '...",[],"[{'id': 1635979666975764481, 'id_str': '163597..."
1,[],[],"[{'screen_name': 'sikie_d', 'name': 'ì‹œí‚¤', 'id'...",[],NaN
2,[],[],"[{'screen_name': 'only1intheearth', 'name': 'í‹°...",[],NaN
3,[],[],"[{'screen_name': 'only1intheearth', 'name': 'í‹°...",[],NaN
4,[],[],"[{'screen_name': 'loverdramas', 'name': 'ì·¨í–¥', ...",[],"[{'id': 1635965867761766400, 'id_str': '163596..."

In [20]:
tags = []
for row in df_glory_hashtags['hashtags']:
    if len(row) != 0:
        for text in row:
            tags.append(text['text'])

In [21]:
counter = Counter(tags)

In [22]:
counter.most_common()[:10]

[('TheGlory', 5),
 ('ë”ê¸€ë¡œë¦¬', 3),
 ('í—ˆíƒ€ëŒì°Œ', 2),
 ('TheGlory2', 2),
 ('ìœ¡ì„±ì¬', 1),
 ('ë·°í‹°í’€ì„ ë°ì´', 1),
 ('ì •ì„±ì¼', 1),
 ('ë”ê¸€ë¡œë¦¬2', 1),
 ('netflix', 1),
 ('ë„·í”Œë“œë¼ë§ˆ', 1)]

### 6. ìˆ˜ì§‘ëœ íŠ¸ìœ—ì„ ë¶„ì„í•˜ì—¬ ê°€ì¥ ë§ì´ retweetëœ (ì¤‘ë³µì´ ì•ˆë˜ëŠ”) íŠ¸ìœ— 10ê°œë¥¼ ì°¾ê³  ì´ë“¤ì˜ ë¦¬íŠ¸ìœ— íšŸìˆ˜, ì›ì‘ì„±ì, íŠ¸ìœ—ë‚´ìš© ë“±ì„ ì •ë¦¬

In [23]:
# nan ì˜ˆì™¸ì²˜ë¦¬ë¥¼ ìœ„í•œ ì „ì²˜ë¦¬ ê³¼ì •
df_glory_rt_list = df_glory['retweeted_status'].tolist()
list2df = []
for item in df_glory_rt_list:
    if type(item) == dict:
        list2df.append(item)

In [24]:
df_glory_rt = pd.DataFrame(data=list2df)

In [25]:
c = []
for name, group in df_glory_rt.groupby('id_str'):
    c.append([
        group.iloc[0]['retweet_count'],
        group.iloc[0]['user']['screen_name'],
        group.iloc[0]['text']])

In [26]:
pd.DataFrame(
    columns=['retweet_count', 'origin_user', 'text'],
    data=sorted(c, key=lambda x: x[0], reverse=True)[:10])

,retweet_count,origin_user,text
0,25786,rurixz,ë”ê¸€ë¡œë¦¬ ë³´ë©´ì„œ ì«Œ ë°˜ì„±ë˜ì—‡ë˜ì \në‚´ í‰ì†Œ ì–¸ì–´ìŠµê´€ ë˜ì•Œ ì¬ì¤€ì´ê¸‰ì´ë¼ì„œ ì•ìœ¼ë¡œ ìš•ì„...
1,22160,3n0m3n0m,ë”ê¸€ë¡œë¦¬ íŒŒíŠ¸2 ì¤‘ ê°€ì¥ ì•„ì°”í–ˆë˜ ìˆœê°„ì´ì—ˆìŒ https://t.co/gx6vZYdMj1
2,22142,only1intheearth,ì „ë‘í™˜ ì†ì í­ë¡œì— ê´€ì‹¬ì„ ê°€ì ¸ì•¼í•˜ëŠ” ì´ìœ ëŠ” ë” ê¸€ë¡œë¦¬ì˜ ì˜í–¥ì„ ë°›ì•„ í­ë¡œí•˜ëŠ”ê²Œ ì•„...
3,21300,vayapunteria,ì•„ì§„ì§œê°œì˜¤ë°”ì•¼ ì´ê²Œ ë”ê¸€ë¡œë¦¬ì•¼ë¬´í•œìƒì‚¬ì•¼ https://t.co/SmP0E7ROmW
4,19984,j0ggin,ë”ê¸€ë¡œë¦¬ ì „ì¬ì¤€ ì—°ê¸°í•˜ë©´ì„œ ì–´ë ¤ì›Ÿë˜ ì ì€..\nã…†ë°œìƒˆë¼ì•¼ì´ê°œìƒˆë¼ê°€ã…†ë°œë†ˆì´\nã„´ ì˜í•˜...
5,17566,aboutloveknot,ì‹ ì˜ˆì€ì´ ê³µê°œí•œ ë” ê¸€ë¡œë¦¬ ì—í”¼ì†Œë“œ...ğŸ¥º\n\nì•„ê¸° ë™ì€ì´ ê´´ë¡­íˆëŠ” ì¥ë©´ ì°ì„ ë•Œ...
6,15207,moeldaee,ë”ê¸€ë¡œë¦¬ ìµœê³ ì˜ ë°˜ì „\nì§‘ì£¼ì¸í• ë¨¸ë‹ˆ https://t.co/Xbqm21XmD6
7,12062,j0ggin,ë”ê¸€ë¡œë¦¬ í¬ìŠ¤í„° ê²°ë§ ì•Œê³ ë³´ë‹ˆê¹Œ ë” ì†Œë¦„ì´ë‹¤\n\nìµœí˜œì • &gt; ë‚¨ì— ë¶ˆí–‰ì— í¬...
8,11505,dbdb_deeep,ë”ê¸€ë¡œë¦¬ ê°•ìŠ¤í¬ì£¼ì˜ :\nê°•ì‚¬ë¼ê°€ í•˜ì˜ˆì†”í•œí…Œ ì•½ë¬¼ ì£¼ì…í•´ì„œ ì‚´ì¸ë³‘ê¸°ë¡œ ë³€í•¨.\nëª¨ë‘...
9,10984,hiiamnugu,ë”ê¸€ë¡œë¦¬2 ê°€ë³¼ê²Œìš”ã…‹ã…‹\nê³ ë°± ê³µê²© ë°›ì€ ìŠ¤íŠœì–´ë””ìŠ¤ í˜œì •ì´ ë°˜ì‘ ã…ˆã„´ì›ƒê²¨ https...

## í‚¤ì›Œë“œ ë¶„ì„ 2: ê°•ì•„ì§€

In [27]:
df_dog = pd.read_json("twitter/dog.json")

In [28]:
df_dog.head()

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status
0,2023-03-15 06:11:36+00:00,1635886447306903552,1635886447306903552,RT @day_off_daying: ë²„ë ¤ì§„ ê°•ì•„ì§€ë¥¼ ì°¾ëŠ” ì „ë‹¨ì§€ë¥¼ ë³´ê³ ì—°ë½í•´ë³¸ ê²°...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635655427223592963, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,1612,0,False,False,0.0,ko,NaN,NaN,NaN
1,2023-03-15 06:11:33+00:00,1635886433662820353,1635886433662820352,... ì‚¬ì‹¤ ì—¬ê¸° ì½”ëŠ” ê°•ì•„ì§€í•œí…Œ ë§ì•„ì„œ ë‹¤ì¹œ ê±°ì§€ë§Œìš”...?!,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twittbot.net/"" rel=""nofollow"">...",NaN,...,False,0,0,False,False,NaN,ko,NaN,NaN,NaN
2,2023-03-15 06:11:33+00:00,1635886432907829249,1635886432907829248,RT @wwlake: ì„¸ë¸í‹´ ê°•ì•„ì§€ ì •ëª¨í•˜ëŠ”ê±° ë³´ê³ ì‹¶ìŒ https://t.co/NU...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635858370954657792, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,754,0,False,False,0.0,ko,NaN,NaN,NaN
3,2023-03-15 06:11:32+00:00,1635886429749534720,1635886429749534720,RT @1_0veyajj: ì›ìš° ì˜¤ìë§ˆì ë„ì–´ë½ ì†Œë¦¬ ë“£ê³ í˜„ê´€ìœ¼ë¡œ ë›°ì–´ê°€ëŠ” ê°•ì•„ì§€...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635885899228798976, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,5,0,False,False,0.0,ko,NaN,NaN,NaN
4,2023-03-15 06:11:32+00:00,1635886426805116928,1635886426805116928,RT @wwlake: ì„¸ë¸í‹´ ê°•ì•„ì§€ ì •ëª¨í•˜ëŠ”ê±° ë³´ê³ ì‹¶ìŒ https://t.co/NU...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635858370954657792, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,754,0,False,False,0.0,ko,NaN,NaN,NaN

### 1. ì–¸ì œ íŠ¸ìœ—ë˜ì—ˆë‚˜

In [29]:
# ê°€ì¥ ìµœê·¼ íŠ¸ìœ—
df_dog.head(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status
0,2023-03-15 06:11:36+00:00,1635886447306903552,1635886447306903552,RT @day_off_daying: ë²„ë ¤ì§„ ê°•ì•„ì§€ë¥¼ ì°¾ëŠ” ì „ë‹¨ì§€ë¥¼ ë³´ê³ ì—°ë½í•´ë³¸ ê²°...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635655427223592963, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,1612,0,False,False,0.0,ko,NaN,NaN,NaN

In [30]:
# ê°€ì¥ ë§ˆì§€ë§‰ íŠ¸ìœ—
df_dog.tail(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status
1099,2023-03-15 05:31:42+00:00,1635876406151512064,1635876406151512064,RT @teamDDUDDU0210: ê°•ì•„ì§€ê°€ ì œì¼ ì¢‹ì•„í•˜ëŠ” ê³µì› ê³µì‚¬ë¡œ ì¸í•´ ì¶œì… ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635161312513921024, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,False,3560,0,False,False,0.0,ko,NaN,NaN,NaN

In [31]:
# 1100ê°œ íŠ¸ìœ—ì˜ í‰ê·  ì‹œê°
df_dog['tw_unixtime'] = df_dog['created_at'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_dog['tw_unixtime'].mean())
dt.ctime()

'Wed Mar 15 05:51:49 2023'

### 2.ì–¸ì œ ê³„ì •ì„ ë§Œë“¤ì—ˆë‚˜?

In [32]:
df_dog_user = pd.DataFrame(data=df_dog['user'].tolist())

In [33]:
df_dog_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries,profile_banner_url
0,1431855949333942273,1431855949333942273,ë¨‰,Ggyu_uu_,,,None,{'description': {'urls': []}},False,0,...,True,True,True,False,False,False,False,none,[],NaN
1,1594387113830539264,1594387113830539264,ì •ì•„ë¦„ì†¡ì´,Aleum___,ëŒ€ì‚¬ ë°œì·Œ BOT,,None,{'description': {'urls': []}},False,2,...,True,True,True,False,False,False,False,none,[],NaN
2,1511642761887641600,1511642761887641600,ì€í•˜,Emma0221_,,,None,{'description': {'urls': []}},False,0,...,True,True,True,False,False,False,False,none,[],NaN
3,1524815576064897028,1524815576064897028,ë§ˆë‰´ (ì••ë„ë‹¹í•¨),roIIinggun,@AH_L0VEISY0U (í”„ì‚¬ëŠ” ì¹ ì´ë‹˜),ìˆ˜ì¤€ ì´ìƒì˜ ë¯¸ì†Œë…€ë¥¼ ìœ„í•œ fan account,https://t.co/91eBq9aWXX,{'url': {'urls': [{'url': 'https://t.co/91eBq9...,False,3796,...,True,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/15248155...
4,1463871195267223558,1463871195267223558,ì›Œëˆ„ì•„ì´ë‹ˆ,_wonwoo_i_ni,ì „ì›ìš°ë§ˆìŒì†,ë„ˆì˜ ë‚´ì¼ì´ ë˜ê³ ì‹¶ì–´ì„œ ì˜¤ëŠ˜ì„ ì‚´ì•„ì™”ì–´,https://t.co/8HipXkQcY0,{'url': {'urls': [{'url': 'https://t.co/8HipXk...,False,677,...,True,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/14638711...

In [34]:
df_dog_user[["screen_name", "created_at"]].head()

    screen_name                      created_at
0      Ggyu_uu_  Sun Aug 29 05:47:29 +0000 2021
1      Aleum___  Sun Nov 20 17:48:11 +0000 2022
2     Emma0221_  Wed Apr 06 09:51:54 +0000 2022
3    roIIinggun  Thu May 12 18:15:43 +0000 2022
4  _wonwoo_i_ni  Thu Nov 25 14:04:38 +0000 2021

In [35]:
df_dog_user['user_created_datetime'] = \
    df_dog_user['created_at'].apply(
        lambda x: datetime.datetime.strptime(x, '%a %b %d %H:%M:%S +%f %Y'))
df_dog_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries,profile_banner_url,user_created_datetime
0,1431855949333942273,1431855949333942273,ë¨‰,Ggyu_uu_,,,None,{'description': {'urls': []}},False,0,...,True,True,False,False,False,False,none,[],NaN,2021-08-29 05:47:29
1,1594387113830539264,1594387113830539264,ì •ì•„ë¦„ì†¡ì´,Aleum___,ëŒ€ì‚¬ ë°œì·Œ BOT,,None,{'description': {'urls': []}},False,2,...,True,True,False,False,False,False,none,[],NaN,2022-11-20 17:48:11
2,1511642761887641600,1511642761887641600,ì€í•˜,Emma0221_,,,None,{'description': {'urls': []}},False,0,...,True,True,False,False,False,False,none,[],NaN,2022-04-06 09:51:54
3,1524815576064897028,1524815576064897028,ë§ˆë‰´ (ì••ë„ë‹¹í•¨),roIIinggun,@AH_L0VEISY0U (í”„ì‚¬ëŠ” ì¹ ì´ë‹˜),ìˆ˜ì¤€ ì´ìƒì˜ ë¯¸ì†Œë…€ë¥¼ ìœ„í•œ fan account,https://t.co/91eBq9aWXX,{'url': {'urls': [{'url': 'https://t.co/91eBq9...,False,3796,...,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/15248155...,2022-05-12 18:15:43
4,1463871195267223558,1463871195267223558,ì›Œëˆ„ì•„ì´ë‹ˆ,_wonwoo_i_ni,ì „ì›ìš°ë§ˆìŒì†,ë„ˆì˜ ë‚´ì¼ì´ ë˜ê³ ì‹¶ì–´ì„œ ì˜¤ëŠ˜ì„ ì‚´ì•„ì™”ì–´,https://t.co/8HipXkQcY0,{'url': {'urls': [{'url': 'https://t.co/8HipXk...,False,677,...,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/14638711...,2021-11-25 14:04:38

#### ì£¼ì–´ì§„ ë°ì´í„° ì¤‘ ê°€ì¥ ë¹¨ë¦¬/ìµœê·¼ì— ë§Œë“¤ì–´ì§„ ê³„ì •

In [36]:
df_dog_user['user_created_unixtime'] = \
    df_dog_user['user_created_datetime'].apply(lambda x: x.timestamp())

In [37]:
min_idx = df_dog_user[['user_created_unixtime']].idxmin()
df_dog_user.iloc[min_idx][["screen_name", "created_at"]]

      screen_name                      created_at
496  jeonyoonhong  Thu Jul 23 02:08:40 +0000 2009

In [38]:
max_idx = df_dog_user[['user_created_unixtime']].idxmax()
df_dog_user.iloc[max_idx][["screen_name", "created_at"]]

     screen_name                      created_at
258  tjdgks10030  Wed Mar 15 05:55:40 +0000 2023

#### ê³„ì •ì„ ë§Œë“  ì‹œê°ì˜ í‰ê·

In [39]:
df_dog_user['user_created_unixtime'] = \
    df_dog_user['user_created_datetime'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_dog_user['user_created_unixtime'].mean())
dt.ctime()

'Sat Nov 30 10:49:38 2019'

### 3. ëª‡ê°œë‚˜ íŠ¸ìœ—í–ˆëŠ”ê°€?

In [40]:
# ìœ ì €ë³„ íŠ¸ìœ— ê°œìˆ˜
df_dog_user[['screen_name', 'statuses_count']].head()

    screen_name  statuses_count
0      Ggyu_uu_            1625
1      Aleum___            6749
2     Emma0221_             118
3    roIIinggun           42255
4  _wonwoo_i_ni            3772

In [41]:
df_dog_user[['screen_name', 'statuses_count']].describe()

       statuses_count
count     1100.000000
mean     44800.367273
std      96566.580720
min          1.000000
25%       2853.500000
50%      11636.500000
75%      41919.750000
max     912308.000000

### 4. ìˆ˜ì§‘ëœ tweet ì¤‘ ê°€ì¥ followerê°€ ë§ì€ ì‚¬ìš©ìëŠ”?

In [42]:
max_idx = df_dog_user['followers_count'].idxmax()
df_dog_user.iloc[max_idx][["screen_name", "followers_count"]]

screen_name        wwlake
followers_count     51637
Name: 813, dtype: object

wwlake ìœ ì €ê°€ 51637 íŒ”ë¡œì›Œë¡œ ê°€ì¥ ë§ë‹¤.

In [43]:
df_dog_user[["screen_name", "followers_count"]].describe()

       followers_count
count      1100.000000
mean        480.665455
std        2345.261697
min           0.000000
25%           9.000000
50%          71.000000
75%         225.750000
max       51637.000000

### 5. ê°€ì¥ ë§ì´ ë‚˜ì˜¤ëŠ” hashtagëŠ”?

In [44]:
df_dog_hashtags = pd.DataFrame(data=df_dog['entities'].tolist())
df_dog_hashtags.head()

,hashtags,symbols,user_mentions,urls,media
0,[],[],"[{'screen_name': 'day_off_daying', 'name': 'ì¼ìƒ...",[],"[{'id': 1635655427223592963, 'id_str': '163565..."
1,[],[],[],[],NaN
2,[],[],"[{'screen_name': 'wwlake', 'name': 'mori', 'id...",[],"[{'id': 1635858370954657792, 'id_str': '163585..."
3,[],[],"[{'screen_name': '1_0veyajj', 'name': 'ì®¸', 'id...",[],"[{'id': 1635885899228798976, 'id_str': '163588..."
4,[],[],"[{'screen_name': 'wwlake', 'name': 'mori', 'id...",[],"[{'id': 1635858370954657792, 'id_str': '163585..."

In [45]:
tags = []
for row in df_dog_hashtags['hashtags']:
    if len(row) != 0:
        for text in row:
            tags.append(text['text'])

In [46]:
counter = Counter(tags)

In [47]:
counter.most_common()[:10]

[('ì„¸ë¸í‹´', 28),
 ('SEVENTEEN', 28),
 ('ê¹€íƒœë˜', 22),
 ('ì •í•œ', 16),
 ('ìœ¤ì •í•œ', 16),
 ('JEONGHAN', 16),
 ('ë³´ì´ì¦ˆí”Œë˜ë‹›', 15),
 ('ê¹€ì§€ì›…', 15),
 ('ìš°ì§€', 11),
 ('ì›ìš°', 11)]

### 6. ìˆ˜ì§‘ëœ íŠ¸ìœ—ì„ ë¶„ì„í•˜ì—¬ ê°€ì¥ ë§ì´ retweetëœ (ì¤‘ë³µì´ ì•ˆë˜ëŠ”) íŠ¸ìœ— 10ê°œë¥¼ ì°¾ê³  ì´ë“¤ì˜ ë¦¬íŠ¸ìœ— íšŸìˆ˜, ì›ì‘ì„±ì, íŠ¸ìœ—ë‚´ìš© ë“±ì„ ì •ë¦¬

In [48]:
# nan ì˜ˆì™¸ì²˜ë¦¬ë¥¼ ìœ„í•œ ì „ì²˜ë¦¬ ê³¼ì •
df_dog_rt_list = df_dog['retweeted_status'].tolist()
list2df = []
for item in df_dog_rt_list:
    if type(item) == dict:
        list2df.append(item)

In [49]:
df_dog_rt = pd.DataFrame(data=list2df)

In [50]:
c = []
for name, group in df_dog_rt.groupby('id_str'):
    c.append([
        group.iloc[0]['retweet_count'],
        group.iloc[0]['user']['screen_name'],
        group.iloc[0]['text']])

In [51]:
pd.DataFrame(
    columns=['retweet_count', 'origin_user', 'text'],
    data=sorted(c, key=lambda x: x[0], reverse=True)[:10])

,retweet_count,origin_user,text
0,26414,_BADJO_,ì•„ ì°¸ì„ìˆ˜ ì—†ì–´ì„œ ì˜¬ë¦°ë‹¤ ê°•ì•„ì§€ ë°”ëŒì— êµ´ëŸ¬ê°„ë‹¤ê³ ã… ã… ã… ã… ã… ã… ã… ã… ã… ã… https:/...
1,16898,ziotoy,ì•„ ì „ì¬ì¤€ ë¯¸ì¹œë†ˆ ìš”ì¦˜ì€ ì• ë“¤ ê¸°ê´€ì§€ì—ì•ˆì¢‹ì•„ì„œ ê°•ì•„ì§€ ê°™ì´ ì•ˆí‚¤ìš´ë‹¤ëŠ”ë§ì— ë£¨ì´ ì³ë‹¤...
2,13751,mad4dog,ê°•ì•„ì§€ë¥¼ ì•ˆê³ ì‹¶ì€ë° ë¶„ë¦¬ë¶ˆì•ˆ ìƒê²¨ì„œ ì•ˆëœëŒ€ìš”\nê·¼ë° ê°•ì•„ì§€ê°€ ì˜†ì— ì—†ìœ¼ë©´ ë‚´ê°€ ë¶„...
3,10672,kimreeming,230312\në¯¼ê·œ í”Œë¡œì–´ íœìŠ¤ ì—´ê¸° ì§ì „ì— ì”¨í ëˆˆì¹˜ ìŠ¥â€¦ ë³´ê³ ë›°ì³ë‚˜ê°€ã…‹ã…‹ã…‹ã…‹ã…‹...
4,7608,minkwhalexx,ì–´ë–»ê²Œ ê°•ì•„ì§€ ì´ë¦„ì´ ì „ì„¤(legend) https://t.co/F26U8471Ls
5,5704,bappurisfree,ì–´ì©Œë‹¤ ë‚˜ê°„ ì†Œê°œíŒ… ìƒëŒ€ê°€ ê°•ì•„ì§€ë¼ë©´? https://t.co/4Caansr5EL
6,5528,noxx_nox,ì•„ 18ì´ˆì— ê°•ì•„ì§€ ë°±ë¤ë¸”ë§ í•˜ëŠ”ê±° ë³´ê³ ì´ë™í˜ì´ë‘ ì´ì œë…¸ ë†€ë¼ë’¤ì§‘ì–´ì§ã… ã… ã…Œã…Œã…‹ã…Œã…Œ...
7,5019,6MYDOGAT,ê³ ì–‘ì´ ì§€ë‚˜ê°€ë‹¤ ì´ìœ ì—†ì´ ê°•ì•„ì§€ë¥¼ ë¬¼ë‹¤\n\nê°•ì•„ì§€ ëª¹ì‹œ ê¸°ë»í•˜ë‹¤ ê¼¬ì˜¥ ì•ˆì•„ì£¼ë‹¤ h...
8,4691,ny3328,ì•„ì§ê¹Œì§€ë„ ì—ë“œë ¤ë¥¼ ëª»í•˜ëŠ” ê°•ì•„ì§€ë˜\nê·¸ëƒ¥ ë°”ë¡œ ë°”ë‹¥ì— ê½ˆë‹¹í•´ë²„ë¦¼ ã… \n\nig s...
9,3561,offthepage_js,220925 ê¹€ì²œì¬ê°•ì•„ì§€ğŸ¶ğŸ¶ğŸ§¡\n#ShiningStarJISOODay\n#ê°„íŒì˜¬ë¦¬ê³ ...